/* principal.css */
.container-principal {
  position: relative;
  text-align: center;
  color: white;
}

.menu-principal {
  list-style-type: none;
  padding: 0;
}

.menu-principal li {
  display: inline;
  margin: 10px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color:antiquewhite;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  color:antiquewhite;
}

.carousel-item img {
  height: 400px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the container */
}
.titulo-h2{
  color:black;
}
.titulo-h3{
  color:aliceblue;
}